*{
	padding: 0;
	margin: 0;
}

html, body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.canvas {
	width: 100%;
	height: 100%;
	background-color: #f77f9b;
	z-index: 0;
}

button {
	z-index: 1;
}
